/* --------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------*/

* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #777777;
	background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(img/concrete-seamless.png);
	text-rendering: optimizeLegibility;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

.main-nav {
	height: 80px;
	background-color: #d3d3d3;
	border-bottom: 2px solid #777777;
	border-top: 2px solid #777777;

}

.name {
	background-color: #4aaaa5;
	color: #FFFFFF;
  text-decoration: none;
	color: #fff;
	margin-top: 0px;
	margin-left: -14px;
	padding-top: 20px;
	padding-right: 52px;
	padding-bottom: 26px;
	padding-left: 54px;
	font-size: 28px;
	letter-spacing: 1px;
	/*border: 1px solid pink;*/
}

#about {
	background-color: #d3d3d3;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.10em;
	color: #777777;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 0px;

	padding-top: 28px;
	padding-right: 12px;
	padding-bottom: 26px;
	padding-left: 12px;
	/*border: 1px solid pink;*/
}

#about span:link,
#about span:visited {
	color: #777777;
	text-decoration: none;
	/*border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;*/
}

#about:hover,
#about:active {
	border: none;
  outline: none;
}

#about span:hover,
#about span:active {
	color: #fff;
	border-bottom: 2px solid #777777;
}

#portfolio {
	background-color: #d3d3d3;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.10em;
	color: #777777;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 0px;
	padding-top: 28px;
	padding-right: 10px;
	padding-bottom: 26px;
	padding-left: 10px;
	/*border: 1px solid pink;*/
}

#portfolio span:link,
#portfolio span:visited {
	color: #777777;
	text-decoration: none;
	/*border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;*/
}

#portfolio:hover,
#portfolio:active {
	border: none;
  outline: none;
}

#portfolio span:hover,
#portfolio span:active {
	color: #fff;
	border-bottom: 2px solid #777777;
}

#contact {
	background-color: #d3d3d3;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.10em;
	color: #777777;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 0px;
	padding-top: 28px;
	padding-right: 10px;
	padding-bottom: 26px;
	padding-left: 10px;
	/*border: 1px solid pink;*/
}

#contact span:link,
#contact span:visited {
	color: #777777;
	text-decoration: none;
	/*border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;*/
}

#contact:hover,
#contact:active {
	border: none;
  outline: none;
}

#contact span:hover,
#contact span:active {
	color: #fff;
	border-bottom: 2px solid #777777;
}

/* --------------------------------------------- */
/* MAIN */
/* --------------------------------------------- */

.main-body {
	background-color: #fff;
	margin-top: 120px;
	padding-bottom: 20px;
	margin-bottom: 100px;
	/*border: 1px solid pink;*/
}

.main-body h1 {
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
	color: #4aaaa5;
	padding-bottom: 16px;
	/*letter-spacing: 1px*/
	border-bottom: 2px solid #777777;
	/*border: 1px solid pink;*/
}

.photo1 {
	float: left;
	width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  margin-top: 18px;
  margin-left: 20px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  /*border: 1px solid pink;*/
}

.main-body p {
	border-left: 0px;
	padding-left: 20px;
	line-height: 1.7;
	letter-spacing: 1px;
	padding-right: 20px;
	/*border: 1px solid pink;*/
}

.paragraph1 {
	margin-bottom: 0px;
	padding-top: 10px;
	/*border: 1px solid pink;*/
}

.paragraph2 {
	margin-top: 0px;
	padding-top: 0px;
	/*border: 1px solid pink;*/
}

/* --------------------------------------------- */
/* ASIDE */
/* --------------------------------------------- */

.main-aside {
	margin-top: 118px;
	padding-bottom: 10px;
	color: #4aaaa5;
	background-color: #fff;
	/*border: 1px solid pink;*/
}

.main-aside h4 {
	font-size: 24px;
	text-align: left;
	margin-left: 22px;
	margin-right: 24px;
	padding-top: 4px;
	padding-bottom: 4px;
	letter-spacing: 1.5px;
	word-spacing: 2.0px;
	border-bottom: 2px solid #777777;
	/*border: 1px solid pink;*/
}

.main-aside img {
	color: #FFFFFF;
	text-decoration: none;
	color: #fff;
	height: 72px;
	width: 72px;
	padding-top: 16px;
	padding-right: 12px;
	margin-left: 18px;
	/*border: 1px solid pink;*/
}

.main-aside img:hover {
  border: 2px solid lightgrey;
  transform: rotate(-10deg);
}

/* --------------------------------------------- */
/* FOOTER */
/* --------------------------------------------- */

.main-footer {
	position:fixed;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 14px;
	padding-bottom: 8px;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	text-align: center;
}

.main-footer p {
	font-size: 15px;
	color: #fff;
	letter-spacing: 1.5px;
}

/* --------------------------------------------- */
/* CONTACT FORM */
/* --------------------------------------------- */

.main-form form {
	margin-top: 20px;
	margin-left: 0px;
	padding-right: 12px;
	padding-bottom: 20px;
	padding-left: 40px;
	background-color: #fff;
	color: #777777;
	text-align: left;
	line-height: 1.8;
	font-weight: 300;
	/*border: 1px solid yellow;*/
}

.main-form form h1 {
	font-size: 38px;
	font-weight: 500;
	color: #4aaaa5;
	letter-spacing: 1px;
	margin-left: 0px;
	margin-right: 28px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*border: 1px solid pink;*/
}

.contact-row {
	font-size: 20px;
	padding-top: 8px;
}

.contact-row input {
	line-height: 28px
}

.contact-row label {
	letter-spacing: 1px;
}

.contact-row textarea {
	width: 96%;
	line-height: 46px;
}

#name {
	width: 96%;
	font-size: 18px;
	letter-spacing: 1px;
}

#email {
	width: 96%;
	font-size: 18px;
	letter-spacing: 1px;
}

#message {
	width: 96%;
	font-size: 18px;
	letter-spacing: 1px;
}

button {
	text-decoration: none;
	background: none;
	color: inherit;
	margin-top: 10px;
	padding: 8px 24px 8px 24px;
	cursor: pointer;
	outline: inherit;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	border: 2px solid #4aaaa5;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
	/*border-radius: 50% 0 50% 0;*/
}

button:link,
button:visited {
	color: #fff;
	/*text-decoration: none;*/
}

button:hover,
button:active {
	color: #fff;
	background-color: #4aaaa5;
	border: 2px solid #777777;
	/*border: 0;
	outline: none;*/
}

#thankyou_message {
	margin-top: 240px;
	margin-bottom: 436px;
}

#thankyou_message h2 {
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	margin-top: 100px;
}

#thankyou_message h2 span {
	/*text-align: center;*/
	font-size: 36px;
	font-style: italic;
	font-weight: 400;
	/*margin-top: 100px;*/
}

/* --------------------------------------------- */
/* PORTFOLIO FORM */
/* --------------------------------------------- */

.main-portfolio h1 {
	width: 660px;
	margin-left: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #4aaaa5;
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 1.6px;
	border-bottom: 2px solid #777777;
	/*border: 1px solid pink;*/
}

.portfolio-image {
	position: relative;
	float: left;
	width: 300px;
	height: 240px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 20px;
	/*border: 1px solid red;*/
}

.portfolio-image img {
	width: 300px;
	height: 240px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	text-align: center;
	background-color: #4aaaa5;
	color: #fff;
	margin-top: 160px;
	margin-right: 22px;
	margin-left: 0px;
	padding-top: 16px;
	padding-right: 10px;
	padding-bottom: 16px;
	padding-left: 10px;
	letter-spacing: 1px;
	/*border: 1px solid pink;*/
}





















